/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  border: 8px solid rgb(255, 217, 0);
  border-style: hidden;
  min-height: 300px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 8px 8px rgb(0, 0, 0);
  background-color: rgb(48, 48, 48);
}

.button {
  background-color: red;
  color: white;
  box-shadow: 5px 5px rgb(0, 0, 0);
}
