* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top, rgb(12, 44, 189) 10%, rgb(61, 61, 61) 10%, #ffffff38 50%, rgb(61, 61, 61) 90%, rgb(12, 44, 189) 10%) no-repeat center fixed;
  /* background-image: linear-gradient(to right,  rgb(0, 0, 0), rgb(13, 0, 192), rgb(13, 0, 192), rgb(0, 0, 0)); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
